@page
@model XML_Web_Services_Project.Pages.CrimeModel
@using NeighborhoodFriend_CrimeData;
@{
    ViewData["Title"] = "Crime Data";
    List<CrimeData> crimes = (List<CrimeData>)ViewData["CrimeDatas"];

}

<div class="text-center">
    <div class="row">
        <form action="" method="get" class="form-inline">
            <input asp-for="Query" name ="query" id="query" class="form-control mr-sm-2 mb-2" placeholder="Postal Code" />
            <button type ="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
</div>
<div class="container marketing">
    @if (Model.SearchCompleted)
    {
        @if (crimes != null)
        {
            @foreach (CrimeData CrimeData in crimes)
            {
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div>
                        <h4>@CrimeData.Offense</h4>
                        <p class="lead">@CrimeData.DateReported</p>
                        <p class="lead">@CrimeData.Location</p>
                        <p class="lead">@CrimeData.Zip</p>
                        <p class="lead">@CrimeData.GetClsd()</p>
                        <p class="lead">@CrimeData.CommunityCouncilNeighborhood</p>
                    </div>
                    </div>

            }

        }
    }
</div>

<script>
    $(document).ready(function () {
        //        debugger
        $('#myTable').DataTable({
            //            stateSave: true

        });
    });
</script>