@page
@using NeighborhoodFriend_CrimeData
@model XML_Web_Services_Project.Pages.CrimeViewModel
@{
    ViewData["Title"] = "Crime Data";
    List<CrimeData> crimes = (List<CrimeData>)ViewData["CrimeDatas"];
    String ErrorString = (String)ViewData["Error"];
}


<div class="text-center">

    <h1>Crime Incidents</h1>

    <table id="myTable" class="table-bordered" style="border-color: black">
        <thead>
            <tr>
                <th style="text-align:center">Incident No.</th>
                <th style="text-align:center">Date Reported</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Offence</th>
                <th style="text-align:center">Location</th>
                <th style="text-align:center">ZIP</th>
                <th style="text-align:center">Neighborhood</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (crimes != null){
                    foreach (CrimeData CrimeData in crimes)
                    {
                                <tr>
                                    <td>@CrimeData.IncidentNo</td>
                                    <td>@CrimeData.DateReported</td>
                                    <td>@CrimeData.Clsd</td>
                                    <td>@CrimeData.Offense</td>
                                    <td>@CrimeData.Location</td>
                                    <td>@CrimeData.Zip</td>
                                    <td>@CrimeData.CommunityCouncilNeighborhood</td>
                                 </tr>
                    }
                }
                else{
                    <h3>No Data to display</h3>
                    if (ErrorString != null)
                    {
                        <p>Error encountered : @ErrorString</p>
                    }
                }
          }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        //        debugger
        $('#myTable').DataTable({
            //            stateSave: true

        });
    });
</script>
