@page
@using NeighborhoodFriend_RecreationData
@model XML_Web_Services_Project.Pages.RecViewModel
@{
    ViewData["Title"] = "Recreation Data";
    List<RecreationData> recreations = (List<RecreationData>)ViewData["RecDatas"];
}

<div class="text-center container-fluid p-2" style="background: aliceblue">

    <h1 style="font-family: fantasy;">
        Recreation Facilities
    </h1>
    

    <table id="myTable" class="cell-border hover compact order-column" style="border-color: black">
        <thead>
            <tr>
                <th style="text-align:center">Facility Type</th>
                <th style="text-align:center">Facility Name</th>
                <th style="text-align:center">ZIP</th>
                <th style="text-align:center">Phone Number</th>
                <th style="text-align:center">Neighbohood</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (RecreationData RecreationData in recreations)
                {
                    <tr>
                        <td>@RecreationData.FacilityType</td>
                        <td>@RecreationData.Name</td>
                        <td>@RecreationData.ZipCode</td>
                        <td>@RecreationData.Phone</td>
                        @{
                            var HumanAddress = @RecreationData.Location.HumanAddress;
                            String[] pairs = HumanAddress.Split("\"");
                            string Address = pairs[3];
                         }
                        <td>@Address</td>
                    </tr>
                }

            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        //        debugger
        $('#myTable').DataTable({
            //            stateSave: true

        });
    });
</script>